@using LibraryManagementSystems.Models.Entity
@model List<Activities>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>USER RETURNED BOOKS</h2>

<br />
<table class="table table-bordered">
    <tr>
        <th> Id </th>
        <th>Borrower</th>
        <th>Book Name </th>
        <th>Employee</th>
        <th>Purchase Date</th>
        <th>User Returned Date </th>
        

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Users.FirstName&nbsp;@item.Users.LastName</td>
            <td>@item.Books.BookName</td>
            <td>@item.Employees.EmployeeFullName</td>
            <td>@Convert.ToDateTime(@item.PurchaseDate).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(@item.ReturnedDate).ToString("dd/MM/yyyy")</td>
           
        </tr>
    }
</table>
